<div class="mohamed">Mohamed <br>
  <div class="aijjou">Aijjou</div>
</div>

<div class="menu">
<div class="exp"><mat-button-toggle value="exp" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" [routerLink]="['/exp']">Experiences Professionnelles</mat-button-toggle></div>
<div class="formation"><mat-button-toggle value="for" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" [routerLink]="['/formation']">Parcours Formations</mat-button-toggle></div>
<div class="tech"><mat-button-toggle value="tec" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" [routerLink]="['/competence']">Competences Techniques</mat-button-toggle></div>
<div class="skills"><mat-button-toggle value="ski" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" [routerLink]="['/skills']">Soft Skills</mat-button-toggle></div>
</div>


<div class="poste">Developpeur Web<br>
  <div class="mobile">&& Mobile</div>
</div>
