<div class="mohamed">Mohamed <br>
  <div class="aijjou">Aijjou</div>
</div>

<div class="menu">
<div class="exp"><mat-button-toggle value="exp" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" [routerLink]="['/exp']">Experiences Professionnelles</mat-button-toggle></div>
<div class="formation"><mat-button-toggle value="for" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" [routerLink]="['/formation']">Parcours Formations</mat-button-toggle></div>
<div class="tech"><mat-button-toggle value="tec" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" [routerLink]="['/competence']">Competences Techniques</mat-button-toggle></div>
<div class="skills"><mat-button-toggle value="ski" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" [routerLink]="['/skills']">Soft Skills</mat-button-toggle></div>
</div>


<div class="poste">Developpeur Web<br>
  <div class="mobile">&& Mobile</div>
</div>


<!-- <button ng-click="animeEnCours = !animeEnCours">Anime</button>

<h2 ng-if="animeEnCours" class="elementAnime">Le Javascript c'est formidable</h2>

<h2 ng-show="animeEnCours" class="elementAnime2">AngularJs aussi</h2>

<h2 ng-show="animeEnCours" class="elementAnime3">Et encore mieux avec du Css</h2>

</div><div ng-controller="MyCtrl">
  <button ng-click="ng-click="animeEnCours = !animeEnCours">Anime</button>
  <h2 ng-if="animeEnCours">Le Javascript c'est formidable</h2>
  </div>


  .elementAnime.ng-enter,
  .elementAnime.ng-leave {

   transition: 1s linear all;

  }

  .elementAnime.ng-enter,
  .elementAnime.ng-leave.ng-leave-active {
   opacity: 0;
  }
  .elementAnime.ng-leave,
  .elementAnime.ng-enter.ng-enter-active {
   opacity: 1;
  } -->
