<p class="titrenav">Informations personnelles :</p>
<div class="bloc">
  <div class="bloc1">
    <div class="icon1">
      <mat-icon>nature_people</mat-icon>
    </div>
    <div class="situation">Situation : 39 ans, marié.</div>
  </div>
  <div class="bloc2">
    <div class="icon2">
      <mat-icon>call</mat-icon>
    </div>
    <div class="tel">Telephone : 06-33-13-59-38</div>
  </div>
  <div class="bloc3">
    <div class="icon3">
      <mat-icon>email</mat-icon>
    </div>
    <div class="mail">Mohamed.aijjou1780@gmail.com</div>
  </div>
  <div class="bloc4">
    <div class="icon4">
      <mat-icon>location_on</mat-icon>
    </div>
    <div class="adresse">46 rue de l’Amiral Courbet, 59170 Croix</div>
  </div>
  <div class="bloc5">
    <div class="icon5">
      <mat-icon>speaker_phone</mat-icon>
    </div>
    <div class="reseaux">Profil Linkedin</div>
  </div>
  <div class="bloc6">
    <div class="icon6">
      <mat-icon>move_to_inbox</mat-icon>
    </div>
    <div class="cv">CV à télécharger</div>
  </div>
</div>
