<div class="formations">Formations </div>

<div class="bloc">
<mat-accordion class="example-headers-align">
    <mat-expansion-panel [expanded]="step === 1" (opened)="setStep(1)" hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>
           <div class="titredev"> TITRE PROFESSIONNEL "Developpeur Web et Mobile"</div>
          </mat-panel-title>
          <mat-panel-description>
            <div class="foreach">FOREACH ACADEMY</div>
            <div class="date1">Mai 2019 - Octobre 2019</div>
            <i class="material-icons">
              school
              </i>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div class = "titrepro1"><div class="duree">Durée</div>: 4 mois de formation + 2 mois de stage en entreprise.</div>
        <div  class = "titrepro2"><div class="contenu">Contenu</div> : Algorithmie - Web - Base de donnée - Java avancé - Environnement de developpement - Un Projet Complet.</div>
        <div  class = "titrepro3"><div class="language">Language</div> : HTML - CSS - Java - JEE - Typescript - SQL.</div>
        <div  class = "titrepro4"><div class="outils">Outils</div> : Angular - Spring - Postgre - Github.</div>
        <div  class = "titrepro5"><div class="organisation">Organisation</div>: Trello - GanttProject - Slack.</div>
        <div  class = "titrepro6"><div class="projet">Projet réalisé : </div>: Application Mobile "ScanFood", Application de réservation "Marché aux Puces" pour la ville de Fasches-Thumesnils, etc.</div>
      </mat-expansion-panel>

  <mat-expansion-panel [expanded]="step === 2" (opened)="setStep(2)" hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <div class="titredess">DESS CFI</div>
      </mat-panel-title>
      <mat-panel-description>
        <div class="esa"> ESA LILLE II</div>
        <div class="date2">Septembre 2002 - Juin 2003</div>
        <i class="material-icons">
          school
          </i>
      </mat-panel-description>
    </mat-expansion-panel-header>
  </mat-expansion-panel>

  <mat-expansion-panel [expanded]="step === 3" (opened)="setStep(3)" hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <div class="titremait"> MATRISE AES</div>
      </mat-panel-title>
      <mat-panel-description>
        <div class="lille1">UNIVERSITE LILLE II</div>
        <div class="date3">Septembre 2001 - Juin 2002</div>
        <i class="material-icons">
          school
          </i>
      </mat-panel-description>
    </mat-expansion-panel-header>

    <p>coucou</p>

  </mat-expansion-panel>

  <mat-expansion-panel [expanded]="step === 4" (opened)="setStep(4)" hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <div class="titrelicen">LICENCE AES</div>
      </mat-panel-title>
      <mat-panel-description>
        <div class="lille2">UNIVERSITE LILLE II</div>
        <div class="date4">Septembre 2000 - Juin 2001</div>
        <i class="material-icons">
          school
          </i>
      </mat-panel-description>
    </mat-expansion-panel-header>
  </mat-expansion-panel>

  <mat-expansion-panel [expanded]="step === 5" (opened)="setStep(5)" hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <div class="titredeug">DEUG AES</div>
        </mat-panel-title>
        <mat-panel-description>
          <div class="lille3">UNIVERSITE LILLE II</div>
          <div class="date5">Septembre 1998 - Juin 2000</div>
          <i class="material-icons">
            school
            </i>
        </mat-panel-description>
      </mat-expansion-panel-header>
    </mat-expansion-panel>

</mat-accordion>
</div>
