
<h4>Organisation</h4>
<div class="bloc">
  <div class="bloc1">
    <div class="tech1">Trello/Slack</div><br>
    <div class="progress-bar blue"></div>
  </div>
  <div class="bloc2">
    <div class="tech2">GitHub</div><br>
    <div class="progress-bar1 blue"></div>
  </div>
  <div class="bloc3">
    <div class="tech3">Environnement MS</div><br>
    <div class="progress-bar2 blue"></div>
  </div>
  <div class="bloc4">
    <div class="tech4">GanttProject</div><br>
    <div class="progress-bar3 blue"></div>
  </div>
</div>

