<div class="titre">Competences</div>
<h4>Developpement</h4>
<div class="bloc">
  <div class="bloc2">
    <div class="tech2">Html 5</div><br>
    <div class="progress-bar1 blue"></div>
  </div>
  <div class="bloc3">
    <div class="tech3">Css 3</div><br>
    <div class="progress-bar2 blue"></div>
  </div>
  <div class="bloc4">
    <div class="tech4">Javascript</div><br>
    <div class="progress-bar3 blue"></div>
  </div>
  <div class="bloc5">
    <div class="tech5">Java</div><br>
    <div class="progress-bar4 blue"></div>
  </div>
  <div class="bloc6">
    <div class="tech6">Sql</div><br>
    <div class="progress-bar5 blue"></div>
  </div>
</div>
