<div class="skills">Soft-skills</div>
<div class="bloc" ng-if="animeEnCours">
<div class="bloc1">
  <div class="ecoute">Ecoute</div>
  <div class="set-size charts-container">
    <div class="pie-wrapper progress-75">
      <span class="label">75<span class="smaller">%</span></span>
      <div class="pie">
        <div class="left-side half-circle"></div>
        <div class="right-side half-circle"></div>
      </div>
    </div>
  </div>
</div>
<div class="bloc2">
  <div class="autonome">Autonome</div>
  <div class="set-size charts-container">
    <div class="pie-wrapper progress-60">
      <span class="label">60<span class="smaller">%</span></span>
      <div class="pie">
        <div class="left-side half-circle"></div>
        <div class="right-side half-circle"></div>
    </div>
    </div>
  </div>
</div>
  <div class="bloc3">
  <div class="disponible">Disponible</div>
  <div class="set-size charts-container">
    <div class="pie-wrapper progress-90">
      <span class="label">90<span class="smaller">%</span></span>
      <div class="pie">
        <div class="left-side half-circle"></div>
        <div class="right-side half-circle"></div>
      </div>
    </div>
  </div>
  </div>
  <div class="bloc4">
  <div class="efficace">Efficace</div>
  <div class="set-size charts-container">
    <div class="pie-wrapper progress-60">
      <span class="label">60<span class="smaller">%</span></span>
      <div class="pie">
        <div class="left-side half-circle"></div>
        <div class="right-side half-circle"></div>
      </div>
    </div>
  </div>
  </div>
  <div class="bloc5">
  <div class="responsable">Responsable</div>
  <div class="set-size charts-container">
    <div class="pie-wrapper progress-75">
      <span class="label">75<span class="smaller">%</span></span>
      <div class="pie">
        <div class="left-side half-circle"></div>
        <div class="right-side half-circle"></div>
      </div>
    </div>
  </div>
  </div>
  <div class="bloc6">
  <div class="bienveillant">Bienveillant</div>
  <div class="set-size charts-container">
    <div class="pie-wrapper progress-95">
      <span class="label">95<span class="smaller">%</span></span>
      <div class="pie">
        <div class="left-side half-circle"></div>
        <div class="right-side half-circle"></div>
      </div>
    </div>
  </div>
</div>
</div>
