<div class="skills">Soft-skills</div>

<div class="ecoute">Ecoute</div>
<div class="set-size charts-container">
  <div class="pie-wrapper progress-30">
    <span class="label">30<span class="smaller">%</span></span>
    <div class="pie">
      <div class="left-side half-circle"></div>
      <div class="right-side half-circle"></div>
    </div>
  </div>
  <div class="autonome">Autonome</div>
  <div class="proactif">ProActif</div>
  <div class="disponible">Disponible</div>
  <div class="efficace">Efficace</div>
  <div class="responsable">Responsable</div>
  <div class="bienveillant">Bienveillant</div>
