<div class="experience">Experiences</div>
<div class="bloc">
<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>
        <i class="material-icons">
            work
            </i> <div class="parcours">Parcours</div>
    </mat-panel-title>
    <mat-panel-description>
      <div class="recrea">RECREA</div>
    </mat-panel-description>
  </mat-expansion-panel-header>
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        Mars 2017-Janvier 2019
      </mat-expansion-panel-header>
      <div class="bloc1">
        <div class="bloc2">
      <div class="poste1">Directeur Magasin</div>
      <div class="localisation">Hénin-Beaumont</div></div>
      <div class= "description">Etablissement 5000 m2 - 2M – 27 salariés (dont 3 cadres).</div>
      <p class="para"> Réussites : Préparation de la fermeture du bâtiment, suivi des
       travaux, construction du projet de réouverture 2018, réouverture
       avec dépassement des objectifs et des ambitions, etc.</p>
       </div>
    </mat-expansion-panel>
  </mat-accordion>

</mat-expansion-panel>

<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>

    </mat-panel-title>
    <mat-panel-description>
     <div class="cultura">CULTURA</div>
    </mat-panel-description>
  </mat-expansion-panel-header>
  <mat-accordion>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        Septembre 2013 - Décembre 2016
      </mat-expansion-panel-header>

      <div class="poste1">Directeur Magasin</div>
      <div class="localisation">Hénin-Beaumont</div>

      <div class= "description">Etablissement 5000 m2 - 2M – 27 salariés (dont 3 cadres).</div>
       <p> Réussites : Préparation de la fermeture du bâtiment, suivi des
        travaux, construction du projet de réouverture 2018, réouverture
        avec dépassement des objectifs et des ambitions, etc.</p>




    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        Février 2012 - Aout 2013
      </mat-expansion-panel-header>

      Directeur Magasin

    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        Octobre 2010 - Janvier 2012
      </mat-expansion-panel-header>

      Chef de Secteur PCE

    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        Mai 2009 - Septembre 2010
      </mat-expansion-panel-header>

      Chef de Secteur PCE

    </mat-expansion-panel>

  </mat-accordion>

</mat-expansion-panel>

<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>

    </mat-panel-title>
    <mat-panel-description>
      <div class=" geant">GEANT CASINO</div>
    </mat-panel-description>
  </mat-expansion-panel-header>
  <p>This is the primary content of the panel.</p>
</mat-expansion-panel>

<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>

    </mat-panel-title>
    <mat-panel-description>
        <div class=" auchan">AUCHAN</div>
    </mat-panel-description>
  </mat-expansion-panel-header>
  <p>This is the primary content of the panel.</p>
</mat-expansion-panel>
</div>



