html, body {

  height: 100%;


  @font-face {
  font-family: lato;
  src: url(assets/Font-Lato/Lato-Hairline.ttf) format("opentype");
}
}
body { margin: 0; font-family:Lato, "Helvetica Neue", sans-serif;



}
